.tabulator-footer{
    position: sticky;
    left: 0;
}
.tabulator{
    display: inline;
}
.tabulator-row{
    display: inline-flex;
}
.tabulator-header{
    display: inline;
}
.tabulator-header-contents{
    overflow-x: auto;
}
.tabulator-tableholder{
    overflow-x: auto;
}
@media screen and (max-width: 1024px) {
    .tabulator-col, .tabulator-cell {
        /* width: fit-content !important; */
    }
}